/* Main Job Listing Container */
.job-listing-container {
  width: 47%;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 37%;
  top: 12%;
  z-index: 1; /* Change this to a positive value */
  bottom: 1px;
}

/* Job Header */
.job-header {
  padding: 20px;
  background-color: white;
  /* background-color: #f9f9f9; */
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); */
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #e0e0e0;
  /* margin-bottom: 20px; */
}

.job-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.job-header h2 {
  font-size: 16px;
  color: #555;
  margin: 8px 0 5px;
}

.job-header p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.job-scrollbar {
  max-height: 400px;
    overflow-y: auto;
    padding: 10px 0px;
    /* border: 1px solid #e0e0e0; */
    border-radius: 10px;
}
.job-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.job-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners for the track */
}

.job-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}
.button-section {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 10px;
  margin-top: 10px;
}
.save-button {
  padding: 0px 10px 0px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.apply-button {
  background-color: #2557a7;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #1d4781;
}

/* Profile Insights Section */
.profile-insights {
  padding: 0px 20px;
  /* background-color: #f8f9fa; */
  /* border-radius: 10px; */
  border-bottom: 1px solid #dcdbdb;
}
.profile-insights-title {
  margin: 3px !important;
}
.profile-insights-text {
  font-size: 13px;
  margin: 3px;
}
.skills-title{
  display: flex;
  align-items: center;
}
.skills-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  font-size: 14px;
  margin-left: 20px;
}

.skills-list {
  background-color: #e4e2e0;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 600;
  color: #595959;
  /* flex-basis: calc(24.33% - 10px); Adjust width to ensure 3 items per line */
}

.education p{
  background-color: #e4e2e0;
  width: max-content;
  font-weight: 700;
  color: #595959;
  border-radius: 5px;
  padding: 0.5rem;
}
.education-title{
  display: flex;
  align-items: center;
}
.skills, .experience, .education, .job-location {
  margin-bottom: 15px;
}

.skills h4, .education h4, .job-location h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.skills p, .experience p, .education p {
  display: flex;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}
.job-location p{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
  margin-left: 20px;
}

.skills p svg, .experience p svg, .education p svg, .location p svg {
  margin-right: 10px;
}
.toggle-button {
  color: #646464;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Nunito';
}

.toggle-button:focus {
  outline: none; /* Remove default focus outline */
}

.experience button {
  background-color: #2557a7;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.experience button:hover {
  background-color: #0056b3;
}

/* Job Details Section */
.job-details {
  padding: 10px 20px;
  /* border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #f8f9fa; */
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdbdb;

}
.job-details-pay{
  display: flex;
  align-items: center;
  font-size: 14px;
}

.job-details p {
  display: flex;
  width: max-content;
  margin-left: 25px;

  font-size: 14px;
  /* color: #555; */
  background-color: #e4e2e0;
  font-weight: 700;
  color: #595959;
  border-radius: 5px;
  padding: 0.5rem;
}

.job-details svg {
  margin-right: 10px;
}

/* Benefits Section */
.benefits {
  padding: 0px 20px;
  /* border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #f8f9fa; */
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdbdb;

}

.benefits ul {
  padding-left: 20px;
}

.benefits li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  list-style-type: circle;
}

.benefits li svg {
  margin-right: 10px;

}

/* Full Job Description Section */
.full-job-description {
  padding: 0px 20px;
  /* border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #f8f9fa; */
}

.full-job-description p, .full-job-description ul {
  font-size: 14px;
  color: #555;
}

.full-job-description ul {
  padding-left: 20px;
}

.full-job-description li {
  margin-bottom: 10px;
}

