.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 90%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tab {
    background-color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
  }
  
  .tab.active {
    background-color: #2557a7;
    color: white;
  }
  
  .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #f4f4f4;
    position: relative;
    margin-bottom: 20px;
  }
  
  .progress {
    width: 50%;
    height: 5px;
    background-color: #2557a7;
    transition: width 0.3s ease;
  }
  
  .progress.progress-active {
    width: 100%;
  }
  
  .form-content {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .apply-confirm-button {
    background-color: #2557a7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .apply-confirm-button:hover {
    background-color: #1d468c;
  }
  
  .selected-skills {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; /* Allows skills to wrap in case of overflow */
  }
  
  .skill-badge {
    background-color:#2557a7; /* Light background for skill badges */
    border-radius: 12px;
    padding: 5px 10px;
    color: white;
    font-size: 10px;
    margin-right: 5px; /* Space between skills */
    margin-bottom: 5px; /* Space for wrapping */
  }
  
  
  