.profile-admin-cnt{
    display:flex;
    flex-direction:column;
    width:70vw;
    padding:20px;
    margin-right:30px;
}
.skills-co-cnt{
 margin-top:-40px !important;
}
.keyskills-cnt{
    padding:20px;
    margin:15px 0px 16px;  
    border-radius:20px;
    width:80%;
    border:1px solid #aeaeb9;
    display:flex;
    flex-direction:column;
}
.resume-heading{
    font-size:17px;
    color: #121224;
    font-family:Satoshi, "Satoshi Fallback";
    font-weight: 600;
}
.edit-button{
    background-color:transparent;
    outline:none !important;
    border:none;
}
.resume-modal-heading{
    font-size:20px;
    color: #121224;
    font-family:"Inter";
    font-weight: 600;
   
}
.resume-modal-para{
    font-size:15px;
    color:#717B9e;
    font-family:"Inter";
    margin:4px 0 6px;
}
.skill-list-item{
    border:1px solid #717B9e;
    border-radius:40px;
    padding:5px 11px;
    margin: 5px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    
}
.close-btn{
    background-color:transparent;
    border:none;
    background:none;
    outline:none;
    cursor:pointer;
    padding:0;
    margin:0;
    margin-top: 4px;
}
.close-btn:focus,
.close-btn:hover {
  outline: none; 
  border: none; 
}
.resume-model-button{
    font-size:18px;
    font-family:Satoshi;
    padding:6px 10px;
    margin:10px;
    background-color:#275DF5;
    border-radius:15PX;
    color:#ffffff;
    outline:none !important;
    border:none;
}
.resume-model-button:hover{
    background-color:#6a89df;
}