.cert-checkbox-name{
    font-size:14px;
    color:#979EC2;
    font-family:sans-serif;
    
}

.certificate-issueby{
    color:#717B9E;
    font-size:14px;
    margin:0;
    padding:0;
    margin-top:2px;
}