@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.sidebar-cnt{
    display:flex;
    flex-direction:column;
    border:1px solid #b8afaf;
    border-radius:10px;
    width:300px;
}
.prfile-img-cnt{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    padding:15px;
}
.profile-name-cnt{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:10px;
}
.profile-cand-name{
    font-size:16px;
    font-weight: 600;
    font-family:sans-serif,"Poppins";
    color:#1D1934;
   
}
.profile-role{
    font-size:13px;
    margin:4px 0px 0px;
    font-family:sans-serif,"Poppins";
    color:#777585;
    padding:0;
    margin:0;
}
.loc-cnt{
    display:flex;
    align-items:center;
}
.company-details-cnt{
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    
}
.com-details-cnt{
    display:flex;

    align-items:center;
    padding-top:0;
}
.com-para{
    
        font-size:12px;
        font-family:"Poppins";
        color:#777585;
        margin:0px 0px 0px 6px;
}






.container-profile{
    display: flex;
    justify-content:flex-start;
    padding: 20px 20px 20px 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width:1128px;
    
}

.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px dashed #007BFF;
    border-radius: 75px;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
   
    object-fit: cover;
    border-radius: 75px;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.icon-label {
    cursor: pointer;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 40%;
    margin-left:70px;
}

.up-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.name {
    margin: 0;
    font-size:24px;
    color:#121224;
}

.role{
    margin:0;
    font-size:16px;
    color: #474d64;
}
.company {
    margin: 5px 0;
    font-size:14px;
    color: #474d64;;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location,
.experience,
.notice {
    display: flex;
    align-items: center;
    color: #474d64;
    font-size:14px;
}

.icon {
    margin-right: 5px;
    
}
