.fm{
    height: 500px;
    width: 100%;
    
  
    
   
    h1{
        text-align: center;
    }
   .content{
    height: 100%;
    width: 100%;
    /* display: flex; */
    .left{
        height: 100%;
        width: 300px;
        background-color: red;
    }
    .right{
        height: 100%;
        width: 400px;
        background-color: blue;
    }
   }
}
.slide-next-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-next-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
  }
  .slide-next-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-next-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
  }
  
 
  .slide-prev-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .slide-prev-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
  }
  .slide-prev-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-prev-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 500ms, transform 500ms;
    
  }
  
  
