.employee-login-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../../../../public/picture/employee-bg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.custom-divider {
    height: 2px;
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    margin: 1rem 0;
    margin-left: 0.3rem;
    margin-bottom: -2rem;
    width: 20%;
}

.employee-login-heading {
    flex: 1;
    max-width: 50%;
    padding: 5rem;
    margin-top: -10rem;
}

.employee-login-h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: #007bff;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    text-shadow:
        -1px -1px 0 rgba(255, 30, 30, 0.7),
        1px -1px 0 rgba(255, 255, 255, 0.7),
        -1px 1px 0 rgba(0, 0, 0, 0.7),
        1px 1px 0 rgba(0, 0, 0, 0.7);

}


.employee-login-h3 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.employee-login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.employee-login-button:hover {
    background-color: #0056b3;
}

.employee-login-form-container {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    margin-top: -8rem;

}

.h4-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: 0;
    padding-left: 3rem;
    padding-right: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: #096eb6d6;
    color: #fff;
    border-bottom: 5px solid black;
}

.employee-login-form-h4 {
    display: inline-block;
    margin: 0 1rem 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.employee-login-form-h4:hover {
    color: #0c2aef;
}

.employee-login-form-div {
    padding: 2rem;
    padding-top: 0;
}

.employee-login-form-label {
    margin-bottom: 0.5rem;
    /* font-weight: bold; */
    font-size: 1rem;
    display: block;
}

.employee-login-form-input {
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    outline: none;
}

.employee-login-form-input:focus {
    border-color: #6c7ff9;
}

.employee-login-form-button {
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-left: 0.5rem;
}

.employee-login-form-button:hover {
    background-color: #0056b3;
}

.talk-to-sales-form {
    display: flex;
    flex-direction: column;
}



.talk-to-sales-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.talk-to-sales-number-input {
    display: flex;
    align-items: center;
}

.talk-to-sales-number-input span {
    margin-right: 10px;
}

.talk-to-sales-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.talk-to-sales-form button:hover {
    background-color: #0056b3;
}


.employee-login-form-p {
    font-size: 0.9rem;
    margin-top: -0.7rem;
    margin-left: 13rem;
    color: red;
    cursor: pointer;
}

.employee-login-form-new-user {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0;
    /* margin-left: 4rem; */
    text-align: center;
    color: #000000;
}

.employee-login-form-new-user-link {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
}

.form-divider {
    height: 2px;
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    margin-left: 6rem;
    width: 40%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}



.forgot-password-heading {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .forgot-password-description {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .forgot-password-back {
    color: #007bff;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
  }
  
  .employee-login-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .employee-login-form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  