.gender-ul-cnt{
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
    transform: translateX(-3vw);
}

.gender-item-cnt{
    color:#121224;
    border: 1px solid #979ec2;
    /* background: #E7E7F1; */
    padding: 7px 12px;
    border-radius: 50px;
    margin-top: 6px;
    display: -ms-flexbox;
    display: flex;
    margin:0px 0px 0px 10px;
    cursor:pointer;
    margin-top:4px;
}
.selected {
    background-color: #0485e1; /* Blue background when selected */
    color: white; /* White text when selected */
    border: 1px solid #0485e1; /* Darker blue border when selected */
  }

  .dob-container {
    display: flex;
    flex-direction: row;
    gap: 10px; 
  }
  
  .dob-dropdown {
    flex: 1;
    
    border:1px solid #121224; 
    border-radius: 15px; 
    padding: 10px; 
    font-size: 16px; 
    /* background-color: #f9f9f9;  */
    cursor: pointer; 
    appearance: none; /* Remove default styling */
    overflow:hidden;
    
  }
  
  .dob-dropdown:focus {
    outline: none; 
  }
  
  .delete-lang{
    color:#275DF5;
    font-size:14px;
    cursor:pointer;
    font-weight:600;
  }