@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family:'Inter' !important;
}
.side-cnt{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    width:90% !important;
    padding:40px;
    min-height:100vh;
}
.profile-left-cnt{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
   margin-left:40px;
}
.profile-right-cnt{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    
}

