.itskills-cnt{
    padding:20px;
    margin:15px 0px 16px;  
    border-radius:20px;
    width:80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction:column;
    background-color: #ffffff;
}
.version-used-cnt{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    margin-top:30px;
}
.table-head{
    font-size:14px;
    color:#717b9E;
    text-align: left;
    padding: 10px;
}

.table{
    border:none;
    border-collapse: collapse;
    margin-top:28px;
}

.thead-row{
    border-bottom: 2px solid rgba(233, 229, 229, 0.977);
    margin-top:20px;
}
.custom-td {
    color: #474D6A;
    font-size: 14px;
    padding:10px;
  }
